

.start-view {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    height: 100vh;

    

    &__body {
       width: $bigBlockWidth;
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
       @media (max-width: $phoneWidth) {
        min-width: 100%;
       }
      
    }
    &__name {
        height: 20px;
        font-family: 'Comfortaa', cursive;
        font-family: 'Open Sans Condensed', sans-serif;
        font-family: 'Amatic SC', cursive;
        font-weight: 700;
        z-index: 11;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        

        .isRipeBrandName {
            position: absolute;
            left: -85px;
            font-size: 74px;
            transition: 450ms;
            display: flex;
            justify-content: center;
            z-index: 11;
            
            

            
        }
        
        
    }

    &__picture {
        position: relative;
        height: 70vh;
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        
        img {
            position: absolute;
            
            z-index: 10;
            width: 600px;
            /* @media (max-width : $tabWidth) {
                
            } */
            @media (max-width : $phoneWidth) {
                width:100%;
            }

        }
        
    }
}
.scrolled {
    
    z-index: 999;
    transition: 450ms;
    margin: 0px 0px;
    padding: 5px;
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 1px 3px rgb(23 23 23 / 24%);

}